@tailwind base;

@tailwind components;

@tailwind utilities;

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  height: 700px;
}


.Deck {
  display: flex;
  justify-content: center;
}

.Card {
  height: 336px;
  width: 240px;
  border-radius: 5px;
  background-color: gray;
}